* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.active {
  padding: 0.65rem 2rem 0.65rem 2rem;
  border-radius: 0.75rem;
  color: rgb(96 165 250);
  background-color: white;
}

.customBgColor {
  width: auto;
  animation: changeBg 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.8rem;
}

.customBgColor2 {
  height: 100vh;
  width: auto;
  animation: changeBg2 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.8rem;
}

@keyframes changeBg2 {
  100% {
    background-color: rgb(193, 250, 248);
  }

  80% {
    background-color: rgb(128, 245, 249);
  }

  60% {
    background-color: rgb(161, 254, 210);
  }

  40% {
    background-color: rgb(128, 245, 249);
  }

  20% {
    background-color: rgb(5, 251, 255);
  }

  0% {
    background-color: rgb(193, 250, 200);
  }
}

@keyframes changeBg {
  0% {
    background-color: rgb(193, 250, 248);
  }

  20% {
    background-color: rgb(128, 245, 249);
  }

  40% {
    background-color: rgb(161, 254, 249);
  }

  60% {
    background-color: rgb(128, 245, 249);
  }

  80% {
    background-color: rgb(5, 251, 255);
  }

  100% {
    background-color: rgb(193, 250, 200);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active {
  padding: 0.65rem 2rem 0.65rem 2rem;
  border-radius: 0.75rem;
  color: rgb(96 165 250);
  background-color: white;
}

.customBgColor {
  width: auto;
  animation: changeBg 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.8rem;
}

.customBgColor2 {
  height: 100vh;
  width: auto;
  animation: changeBg2 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3.8rem;
}

@keyframes changeBg2 {
  100% {
    background-color: rgb(193, 250, 248);
  }

  80% {
    background-color: rgb(128, 245, 249);
  }

  60% {
    background-color: rgb(161, 254, 210);
  }

  40% {
    background-color: rgb(128, 245, 249);
  }

  20% {
    background-color: rgb(5, 251, 255);
  }

  0% {
    background-color: rgb(193, 250, 200);
  }
}

@keyframes changeBg {
  0% {
    background-color: rgb(193, 250, 248);
  }

  20% {
    background-color: rgb(128, 245, 249);
  }

  40% {
    background-color: rgb(161, 254, 249);
  }

  60% {
    background-color: rgb(128, 245, 249);
  }

  80% {
    background-color: rgb(5, 251, 255);
  }

  100% {
    background-color: rgb(193, 250, 200);
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;